.headerCard {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #1C5253;
  font-size: 28px;
  text-align: center;
  color: #8ACB88;
 
}

.secondHeaderCard {
  margin-top: .5em;
  background-color: #8ACB88;
  font-size: 28px;
  text-align: center;
  color: #1C5253;
  border-color: #8ACB88
}

.textForBioPage {
    color: white;
    font-size: 17px;
    text-align: center;
}

.bioButton{
  background-color: #6A4D85;
  color: white;
  font-size: 15px;
  border-color:  rgb(11, 1, 17);
}

.bioButton:hover{
  background-color: #E0C0F3;
  color: rgb(11, 1, 17);
  font-size: 17px;
  border-color: rgb(11, 1, 17) ;
}

.cardForBio {
  background-color: rgb(11, 1, 17);
}

.markAndGeorgieImage{
  margin-top: 2em
}

.markAndGeorgieButton{
  margin-right: .5em;
  background-color: #6A4D85;
  color: white;
  font-size: 15px;
  border-color:  rgb(11, 1, 17);
}

.markAndGeorgieButton:hover{
  background-color: #E0C0F3 ;
  color: rgb(11, 1, 17);
  font-size: 18px;
  border-color: rgb(11, 1, 17) ;
}