.text {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}


.button{
  background-color: rgb(132, 85, 177);
  color: white;
  font-size: 18px;
  border-color:  rgb(132, 85, 177);
}

.cardForBio {
  background-color: rgb(11, 1, 17);
 
}