.center{
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.activeUser{
  background-color: #1C5253;
  color: #8ACB88;
  font-size: 28px;
}

.your{
  font-size: 20px;
  color: white;
  border-color:  rgb(36, 6, 49);
  background-color: rgb(56, 16, 94);
  margin-bottom: .25em
}

.your:hover{
  font-size: 20px;
  color: white;
  border-color:  rgb(190, 158, 218);
  background-color: rgb(190, 158, 218);
  margin-bottom: .25em
}

.redirect{
  font-size: 20px;
  background-color: rgb(190, 158, 218);
  color: rgb(36, 6, 49);
  margin-bottom: .25em;
  border-color: rgb(36, 6, 49)
}

.redirect:hover{
  font-size: 22px;
  background-color:  rgb(36, 6, 49);
  color: rgb(190, 158, 218);
  margin-bottom: .25em;
  border-color: rgb(190, 158, 218)
}

ul {
  list-style: none
}

.cardForPersonal{
  font-size: 28px;
  background-color: #8ACB88;
  color:#1C5253
}

.accordionToggleYour{
  background-color:  white
}

/* .accordionToggleOthers{
  background-color: rgb(171, 149, 192)
} */

.accordionWhole{
  border-color: #F3FFC6;
}

/* .buttonForPersonal{
  margin-bottom: .25em;
  border: #3A7D44;
  color: #1C5253;
  font-size: 20px;
} */

