.center{
  text-align: center;
  margin-top: 50px;
}

a {
  color: black
}




.loginButton{
  background-color: #8ACB88;
  border-color: #1C5253;
  color: #1C5253;
}

.loginButton:hover{
  background-color: rgb(47, 162, 47);
}

.logoutButton{
  background-color: #1C5253;
  border-color: #F3FFC6;
  color: #8ACB88;
}

.logoutButton:hover{
  background-color: rgb(53, 148, 147)
}