.center{
  text-align: center;
}

.bodyText{
  color: #F3FFC6;
  font-family: 'Righteous', cursive;
}

.playerControls{
  background-color: rgb(170, 109, 226);
  margin-right: .2em;
  border-color: #F3FFC6
}

.titleColors{
 color: rgb(170, 109, 226)
}