.customBg{
  background-color: rgb(106, 77, 133);
  font-family: 'Righteous', cursive; 
}

.logo{
  height: 60px;
}


.clear { clear: both; height: 20px; }


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
  background-color: rgb(106, 77, 133);
  color: rgba(0, 0, 0, 0.705);
  text-align: center;
}
