.customBg{
  background-color: rgb(106, 77, 133);
  font-family: 'Righteous', cursive; 
}

.logo{
  height: 60px;
}


 

.footer {   
  flex-shrink: 0; 
  text-align: center;
  background-color: rgb(106, 77, 133);

}